/* BASIC STYLING */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* OVERLAY */
/* ------------------------ */
.overlay {
  background: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  display: none;
}

/* START POPUP */
/* ------------------------ */
.start-popup {
  position: absolute;
  width: 300px;
  height: 150px;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  border: 1px solid #000;
  z-index: 3;
  display: none;
}

/* MAIN HEADER */
/* ------------------------ */
.main-header h1 {
  text-align: center;
}

/* INFOS */
/* ------------------------ */
.infos {
  display: flex;
  width: 90%;
  margin: auto;
}

.infos > div {
  width: 20%;
  height: 20px;
  margin: 5px;
  border: 1px solid #000;
}

/* MAIN GRID */
/* ------------------------ */
.main-grid {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
  border: 1px solid #000;
  margin: auto;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}

.cards {
  width: 60px;
  height: 60px;
  border: 1px solid #f00;
}

/* MIN 480 PX */
/* ------------------------ */
@media screen and (min-width: 480px) {
  /* Main Grid */
  .main-grid {
    width: 440px;
    height: 440px;
  }

  .cards {
    width: 95px;
    height: 95px;
  }
}

/* MIN 760 PX */
/* ------------------------ */
@media screen and (min-width: 760px) {
  /* Main Grid */
  .main-grid {
    width: 720px;
    height: 720px;
    padding: 20px;
  }

  .cards {
    width: 155px;
    height: 155px;
  }
}

/* MIN 1024 PX */
/* ------------------------ */
@media screen and (min-width: 1024px) {
  /* Main Grid */
  .main-grid {
    width: 860px;
    height: 860px;
    padding: 20px;
  }

  .cards {
    width: 195px;
    height: 195px;
  }
}
